
services:
  bazi-web:
    build:
      context: .
    container_name: bazi-app-container
    ports:
      - "80:80"
    restart: always
    environment:
      - NODE_ENV=production
    extra_hosts:
      - "host.docker.internal:host-gateway"
